<div class="row">
  <div class="col-8 ">
    <h1 class="fw-bold">Comments</h1>
  </div>
  <div class="col-4 text-end ">

  <%= link_to "Utilisateurs", admin_users_path, class:"btn btn-outline ",  data: { turbo: false }  %>
  </div>
</div>


<% if @comments.length > 0 %>
<table class="table table-hover bg-transparent">
<thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Crée</th>
    <th scope="col">Titre</th>
    <th scope="col">Contenu</th>
    <th scope="col">Note</th>
    <th scope="col">Utilisateur</th>
    <th scope="col">Produit</th>
    <th scope="col">Actions</th>
  </tr>
</thead>
<tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.id %></td>
      <td><%= comment.created_at.strftime("%B %d, %Y %I:%M %p") %></td>
      <td><%= comment.title %></td>
      <td><%= comment.content %></td>
      <td><%= comment.note %></td>
      <td><%= comment.user.email %></td>
      <td><%= comment.product.title %></td>
      <td>
        <div class="d-flex">
        <%= button_to "Effacer", comment, data: { confirm: "Tu es sur?" }, class: "btn btn-danger" %>
        </div>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
<% else %>

<p> Cet utilisateur n'as pas fait de commentaires pour l'instant </p>



<% end %>



