<div id="<%= dom_id comment %>">
  <div class="row">
    <div class="col-md-8"> 
        <%= comment.title %>
    </div>
    <div class="col-md-4 text-right">
      <small><%= comment.created_at.strftime('%d/%m/%Y %H:%M') %></small>
    </div>
  </div>
    <%= comment.user.first_name %></br>


    <strong>Content:</strong>
    <%= comment.content %></br>
 
    <strong>Note:</strong>
    <%= comment.note %>

</div>

