<div>
  <div class="row">
    <div class="col-md-8">
      <% note = comment.note  %>
      <% 5.times do |i| %>
      <% if i < note %>
        <i class="fa fa-star rating-color" style="color: green;"></i>
      <% else %>
        <i class="fa fa-star-o" style="color: green;"></i>
      <% end %>
      <% end %>   
      <div class="col-md-8 text-right">
        <small>Commentaire 
          <% if comment.user.present? && comment.user.first_name.present? %>
            de <%= comment.user.first_name %>
          <% end %>
          le <%= comment.created_at.strftime('%d/%m/%Y à %H:%M') %></small>
      </div><br>   
      <p><strong>Titre : </strong><%= comment.title %><br>
      <strong>Commentaire : </strong><%= comment.content %></p>


      <% if current_user == comment.user %>
        <p><%= link_to "Modifier/Supprimer votre commentaire", comment%></p>
      <% end %>
      <hr>


    </div>
  </div>
</div>


