<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
 
 
  <% if current_user == @comment.user %>
  <%= link_to "Edit this comment", edit_comment_path(@comment) %> |
  <%= button_to "Destroy this comment", @comment, method: :delete %>
  <% end %>
  <div class="comments-links">
  <%= link_to "Retour au produit", product_path(@comment.product) %> 
  <%= link_to "Voir tous", comments_path(@comment.product.id) %>
</div>

</div>
