<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div class="d-flex ms-3 bs-component">
  <div class="comments-links d-flex justify-content-between ">
    <% if current_user == @comment.user %>
      <%= button_to "Supprimer votre commentaire", @comment, method: :delete, class: "me-3 btn btn-outline-2" %>
      <%= link_to "Modifier votre commentaire", edit_comment_path(@comment), class: "me-3 btn btn-outline" %>
    <% end %>
    <%= link_to "Retour au produit", product_path(@comment.product), class: "me-3 btn btn-outline" %> 
  </div>
</div>





