<div class="container text-center">
  <h3 class="bs-component">Mes informations</h3>
<hr>
  <div class="row">
    <div class="col-4", style="height:220px"> 
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, alt: 'avatar', style: 'width: 200px; height: 200px;' %>
      <% else %>
        <img src="/empty-profile.png" alt="photo de profil">
      <%end%>

    </div>
    <div class="col-8 d-flex flex-column justify-content-center align-items-start text-pop-delayed-08s">
      <p>Prénom : <%= @user.first_name%> </p>
      <p>Nom : <%= @user.last_name%> </p>
      <p>Email : <%= @user.email%> </p>
      <%= link_to "Modifier mon profil", edit_user_path(@user.id) %>
      <%= link_to "Modifier mon mot de passe",  edit_user_registration_path %>
    </div>
  </div>
  <hr class="text-pop-delayed-08s">
</div>

<br><br><br>

<div class="container text-pop-delayed-16s">
  <div class="row ">
    <div class="col text-center">
      <h3 class="bs-component">Changer mon avatar</h3>
        <hr>
        <br>
         <%= form_tag user_avatars_path(@user), multipart: true do %>
        <%= file_field_tag :avatar %>
        <%= submit_tag "mettre à jour" %>
      <% end %>
    </div>
  </div>
</div>

<br><br><br>

<div class="container text-pop-delayed-16s">
  <div class="row ">
    <div class="col text-center">
      <h3 class="bs-component">Vos commandes passées</h3>
     <hr>
      <% @user.orders.reverse().each do |order| %>
        <div class="row">
          <div class="col">Commande N°<br> <%= order.id %> </div>
          <div class="col">Date de la commande<br> <%= order.created_at.strftime("%d-%m-%Y") %></div>
          <div class="col">Montant total<br> <%= order.cart.sub_total %> €</div>
          <div class="col">Commande N°<br><%= link_to "Voir commande N°#{order.id}", order_path(order.id) %> </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>