<tbody class="align-middle">
  <tr>
    <td class="align-middle"><img src= "" alt="" style="width: 50px;"><%= product_cart.product.title %></td>
    <td class="align-middle"><%= product_cart.product.price %> €</td>
    <td class="align-middle"><%=product_cart.quantity%></td>
    <td class="align-middle"><%= product_cart.total_price %> €</td>
    <td>
      <img src=<%= product_cart.product.image_url %> class="card-img-top" style="max-width:100px; aspect-ratio: 1 / 1;" />
    </td>
  </tr>
</tbody>