<div class="col-lg-3 col-md-6 col-sm-7 d-flex">
  <div class="card w-100 my-2 shadow-2-strong">
    <img src=<%= product.image_url %> class="card-img-top" style="aspect-ratio: 16 / 9" />
    <div class="card-body d-flex flex-column">
      <h5 class="card-title" style="color: white"> <%= product.title %></h5>
      <p class="card-text" > <%= product.price %> € </p>
      <p class="card-text" style="color: white"> <%= product.category.title %></p>
      <div class="container2">
        <div class="d-flex align-items-end justify-content-center pt-3 px-0 pb-0 mt-auto">
          <%= button_to "Acheter", product_carts_path(:product_id => product.id), class:"btn btn-outline" %></button>
          <%= link_to "infos", product_path(product), class:"btn btn-outline", style: "margin-left: 10px" %>
        </div>
      </div>
    </div>
  </div>
</div>
