<div class="col-lg-3 col-md-6 col-sm-7 d-flex">
  <div class="card w-100 my-2 shadow-2-strong">
    <img src="<%= product.image_url %>" alt="produit" class="card-img-top" width="230" height="130" />
    <div class="card-body d-flex flex-column">
      <h5 class="card-title" style="color: white"> <%= product.title %>
        <% if user_signed_in? %>
          <%= turbo_frame_tag "#{dom_id(product)}" do %>
            <% if product_is_in_one_of_your_wishlist?(product) == false %>
              <%= button_to "", wishlists_path(:product_id => product.id), remote: true, style: 'width: 24px; height: 24px; background-color: transparent; border: none', class:"fa-regular fa-heart bs-component", "aria-label" => "Add to Wishlist" %>
            <% else %>
              <%= button_to "", product_wishlist_path(find_associated_product_wishlist_id(product).id), method: :delete, remote: true, style: 'width: 24px; height: 24px; background-color: transparent; border: none;', class:"fa-solid fa-heart bs-component", "aria-label" => "Add to Wishlist" %> 
            <% end %>
          <% end %>
          
          <%= turbo_frame_tag "#{dom_id(product)}" do %>
          <% end %>
        <% end %>
      </h5>
      <p class="card-text" > <%= product.price %> € </p>
      <p class="card-text" style="color: green"> <%= product.category.title %></p>
      <div style="color: white">
        <%= render partial: "products/stars", locals: {product:product} %>
      </div>
      <div class="container2">
        <div class="d-flex align-items-end justify-content-center pt-3 px-0 pb-0 mt-auto" data-turbo="true">
          <%= button_to "Acheter", product_carts_path(:product_id => product.id), class:"btn btn-outline" %>
          <%= link_to "infos", product_path(product), class:"btn btn-outline", style: "margin-left: 10px" %>
        </div>
      </div>
    </div>
  </div>
</div>
