<body>
	<br><br>
  <center>
	<div class="container my-5">
			<div class="row">
			<% Category.all.each do |category| %>
				<div class="col">
				  <%= link_to category_path(category.id) do %>
					<%= image_tag(category.link) %>
					<div class="col"></div>
					<br>
					<span style="font-weight: bold;"><%= category.title.upcase %></span>
				  <% end %>
				  </div>
			  <% end %>
			</div>
		</div>
	</div>
	</center>
<br><br>
	<center>
		<div class="row">
			<div class="bs-component">
				<h2>NOS BONS PLANS DU MOMENT</h2>
				<br>
				<section class="items-section">
				<br>
					<div class="row">
						<% Product.all.where(top_sell:true).sort.each do |product| %>
							<%= render product %>
						<% end %>
					</div>
				</section>
			</div>
		</div>
		<div class="row">
		<div class="bs-component">
		<br><br><br>
			<h2>TOUS LES PRODUITS</h2>
			<br><br>
			<section class="items-section">
			<%= render "search/form" %>
			<br><br>
				<div class="row">
				<% Product.all.where(top_sell:false).sort.each do |product| %>
					<%= render product %>
					<% end %>
				</div>
			</section>
		</div>
	</div>
	</center>
	
</body>