<div class="container-fluid py-5">
  <div class="card mx-auto position" style="max-width: 800px;">
    <div class="row">
      <div class="col-md-7">
        <div class="card-body">
        <div class="bs-component">
          <h1 class="card-title"><%= @product.title.capitalize %></h1>
          </div>
          <p class="card-text"><%= @product.description %></p>
          <h5 class="card-text"> Prix TTC: <%= @product.price %></h5>
          <%= button_to "Add to cart", product_carts_path(@product.id), class:"btn btn-outline4 btn-lg position-absolute bottom-0 start-0 mb-3 ml-3" %>
        </div>
      </div>
      <div class="col-md-5">
        <img src=<%= @product.image_url %> alt="<%= @product.title %>" class="card-img">
      </div>
    </div>
  </div>
</div>















<% if @current_user != nil %>
  <% if @current_user.is_admin == true %>
    <div>
      <%= link_to "Edit this product", edit_product_path(@product) %> |
      <%= link_to "Back to products", products_path %>
      <%= button_to "Destroy this product", @product, method: :delete %>
    </div>
  <% end %>
<% end %>