<%= javascript_include_tag "main", "data-turbo-track": "reload", defer: true %>

<div class="bs-component text-center ">
  <br>
  <%= link_to "Retour page produits", products_path , class:"btn btn-secondary"%>
</div>

<section class="items-section">
	<div class="col-lg-6 col-md-6 col-sm-7 d-flex my-5 mx-auto">
        <div class="card w-100 my-2 shadow-2-strong">
            <img src=<%= @product.image_url %> alt="produit"<%= @product.title %>" class="card-img-top">
						<div class="image-container">
						<div class="text-center">     
								<% if product_is_in_one_of_your_wishlist?(@product) == false %>
										<%= button_to "", wishlists_path(:product_id => @product.id), style: 'width: 24px; height: 24px; background-color: transparent; border: none', class:"fa-regular fa-heart bs-component" %>
								<% else %>
										<%= button_to "" , product_wishlist_path(find_associated_product_wishlist_id(@product).id), method: :delete, style: 'width: 24px; height: 24px; background-color: transparent; border: none;', class:"fa-solid fa-heart bs-component" %> 
								<% end %>
						</div>
						<div class="card-body d-flex flex-column ">
                <div class="bs-component">
                    <h1 class="card-title" style="text-align: center"><%= @product.title.capitalize %></h1>
                    <h3 class="card-text" style="text-align: center"> <%= @product.price %> € </h3>
                    <h3 class="card-text" style="text-align: center"> <%= @product.category.title %></h3>
                    <h5 class="card-text" style="text-align: center">
                    <br>
                    <div class="notes">
                      <% n = @average_note.ceil %>
                      <% if @average_note == 0 %>
                      <% 5.times do |i| %>
                        <i class="fa fa-star-o" style="color: green;"></i>
                      <% end %>
                    <% else %>
                      <% 5.times do |i| %>
                        <% if (@average_note-i) >= 1 %>
                          <i class="fa fa-star rating-color" style="color: green;"></i>
                        <% elsif (@average_note-i) >= 0.5 %>
                          <i class="fa fa-star-half-o rating-color" style="color: green;"></i>
                        <% else %>
                          <i class="fa fa-star-o" style="color: green;"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                    
                      </div>
              
                    <div class="image-container">
                        <div class="text-center">     
                            <% if product_is_in_one_of_your_wishlist?(@product) == false %>
                                <%= button_to "", wishlists_path(:product_id => @product.id), style: 'width: 24px; height: 24px; background-color: transparent; border: none;', class:"fa-regular fa-heart bs-component" %>
                            <% else %>
                                <%= button_to "" , product_wishlist_path(find_associated_product_wishlist_id(@product).id), method: :delete, style: 'width: 24px; height: 24px; background-color: transparent; border: none;', class:"fa-solid fa-heart bs-component" %> 
                            <% end %>
                        </div>
                        <div class="d-flex pt-5 px-0 pb-5">
                            <%= button_to "Ajouter au panier", product_carts_path(:product_id => @product.id), class:"btn btn-outline"%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>

<% if @current_user != nil %>
  <% if @current_user.is_admin == true %>
    <div>
      <%= link_to "Edit this product", edit_product_path(@product) %> |
      <%= link_to "Back to products", products_path %>
      <%= button_to "Destroy this product", @product, method: :delete %>
    </div>
  <% end %>
<% end %>
<div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
  
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Commentaires (<%= @comments.count%>)</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Description du Produit</h4>
                        <p><%= @product.description %><p>
                    </div>
                    
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4"><%= @comments.count%> commentaires pour <%= @product.title.capitalize %> </h4>
                                <div class="media mb-4">
                                    <div class="media-body">
                                    <div id="comments">
                                        <div id= "live-comments"
                                          <% @comments.order(created_at: :desc).limit(3).each do |comment| %>
                                            <%= render comment %>
                                            <p>
                                            <%= link_to "Plus", comment%>
                                            </p>
                                          <% end %>
                                        </div>
                                      <%= link_to "Voir tous les commentaires", comments_path(@product.id) , class:"btn btn-outline"%>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <% if current_user.nil? %>

                                <div class="half-width">
                                <h4 class="mb-4"> Un commentaire?, Par ici: </h4>
                                <ul class="navbar-nav me-auto">
                                  <div class="d-flex">
                                    <li class="nav-item flex-grow-1">
                                      <%= button_to(image_tag("https://media.discordapp.net/attachments/1062665418621333504/1090248251833327676/AATXAJyinelXJOqRuDKmXAlUqielit-PXp4REWcRIQs900-c-k-c0xffffffff-no-rj-mo.png", alt: "panier", style: 'width: 24px; height: 24px; '), user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class: "button is-info button_nav", style: "background-color: transparent; border: none;") %>
                                    </li>
                                    <li class="nav-item flex-grow-1">
                                      <%= link_to "Se Connecter", new_user_session_path, class: "nav-item nav-link" %>
                                    </li>
                                    <li class="nav-item flex-grow-1">
                                      <%= link_to "S'inscrire", new_user_registration_path, class: "nav-item nav-link" %>
                                    </li>
                                  </div>
                                </ul>
                              </div>

                              <% elsif current_user.has_ordered_product?(@product) %>

                              <h4 class="mb-4">Dis nous, Qu'est- ce que tu penses ?</h4>
                              <div class="mx-auto" style="max-width: 300px;">
                              <small>Ton email ne sera pas affiché </small>
                              <div class="d-flex my-3">
                                  <div class="text-primary">
                                  </div>
                              </div>   
                          
                              
                                  <%= render partial: 'comments/form' %>
                              </div>
                          
                          <% else %>
                          
                                <div class="container d-flex justify-content-center align-items-center"
                                <h4 class="mb-4"> Vous ne pouvez commenter que des produits que vous avez achetés
                                </h4>
                                </div>
                                <% end %>                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
