<div class="navbar navbar-expand-lg navbar-dark bg-primary" data-turbo="false">
  <div class="container">
    <a class="navbar-brand" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "IN THERE", root_path, class: "nav-link" %>
        <li class="nav-item">
        <%= link_to "Accueil", products_path, class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="themes-nav-categories">Categories</a>
          <div class="dropdown-menu" aria-labelledby="themes">
          <% Category.all.each do |category| %>
            <%= link_to category.title, category_path(category.id), class: "dropdown-item" %>
          <% end %>            
          </div>
        
      </ul>
      <ul class="navbar-nav ms-md-auto">
        <% if @current_user == nil %>
        <div class= "logo">
        <%= button_to(image_tag("https://media.discordapp.net/attachments/1062665418621333504/1090248251833327676/AATXAJyinelXJOqRuDKmXAlUqielit-PXp4REWcRIQs900-c-k-c0xffffffff-no-rj-mo.png?width=673&height=673", alt:"panier", style: 'width: 24px; height: 24px; '), user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class: "button is-info button_nav", style: "background-color: transparent; border: none;") %>
            </div>
            <%= link_to "Se Connecter", new_user_session_path, class: "nav-item nav-link" %>
            <%= link_to "S'inscrire", new_user_registration_path, class: "nav-item nav-link" %>
        <% else %>
        <div class="logo">
          <%= link_to(image_tag("https://zupimages.net/up/23/12/x5be.png", alt:"panier", style: 'width: 24px; height: 24px'), cart_path(@current_cart.id)) %>
          <%= @current_cart.number_products %>
        </div>
      
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="themes-account">Mon compte</a>
            <div class="dropdown-menu" aria-labelledby="themes">
                <%= link_to "Consulter mon profil",user_path(current_user.id), class:"dropdown-item" %>
              <%= link_to "Mon panier", cart_path(@current_cart.id), class:"dropdown-item" %>
                <%= link_to "Editer mes informations", edit_user_path(@current_user.id), class:"dropdown-item" %> 
                <%= link_to "Modifier mon mot de passe", edit_user_registration_path, class:"dropdown-item" %>
            </div>
          </li>
          </ul>

          <%= link_to "Log out", destroy_user_session_path, class: "nav-item nav-link" %>
        <%end%>
      </ul>
    </div>
  </div>
</div>